.header-bike-image {
    position: absolute;
    right: 5%;
    bottom: -25%;
    width: 400px;
    height: 540px;
    border-radius: 21px;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    z-index:-1;
}

.header-bike-image::before {
    position: absolute;
    top: 10%;
    right: 10px;
    bottom: 10%;
    left: 10px;
    content: "";
    background-color: rgba(255, 255, 255, .1);
}
  
.header-bike-image-2 {
    top: -35%;
    right: auto;
    bottom: 0;
    left: 5%;
}
  